.top__logo {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__logo img {
  max-height: 7vh;
}
.top__logo__reserv {
  flex: 0 0 20%;
}
.top__logo_tel {
  flex: 0 0 20%;
  font-size: 24px;
  color: #b66735;
}
.header {
  position: fixed;
  /* width: 100%; */
  top: 0;
  right: 0;
  left: 0;
  color: #e2c2a9;
  z-index: 150;
}
.header__menu {
  background-image: url(../img/background_header.jpg); 
  background-repeat: repeat-x;
  background-size: contain;
  transition: 1s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 1s;
  z-index: 7;
}
.header__top {
  width: 100%;
  position: relative;
  background-image: url(../img/back__top.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 8;
}
.header__top::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.head {
  padding: 20px 10px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__item {
  flex: 1 1 20%;
}
.header__item:not(:last-child) {
  margin-right: 45px;
}
.header__nav_link {
  font-size: 20px;
  color: #e2c2a9;
  font-weight: bold;
}
.header__btn-open {
  display: none;
}
.header_hidden {
  transform: translateY(-100%);
}
.main {
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 50px;
  background-image: url(../img/spil_light.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.main::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content {
  height: 100vh;
  padding-top: 20vh;
  color: #e2c2a9;
  position: relative;
  z-index: 2;
}
.content__button {
  max-width: 12em;
  margin: 10px auto;
  position: relative;
  z-index: 2;
}
.content__button_img {
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
}
@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}
.content__button_text {
  position: absolute;
  text-align: center;
  top: 3.8em;
  left: 1.8em;
  color: #38272d;
  font-size: 1em;
  font-weight: 700;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8vh;
}
.text {
  position: relative;
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 2em;
  z-index: 4;
}
.details {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: url(../img/interier.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in-out;
  z-index: 11;
}
.details::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #e1c6a3;
  opacity: 0.3;
  z-index: 1;
}
.plus {
  /* position: absolute; */
  background-image: url(../img/plus-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 0;
  transition: max-height 0.8s ease-in-out;
}
.plus.vision {
  max-height: 110vh;
  transition: max-height 0.8s ease-in-out;
}
.details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.details__text {
  flex: 1 0 70%;
  margin-bottom: 10em;
  padding-top: 3em;
  padding-left: 13em;
  padding-right: 2em;
  color: #43230A;
  font-weight: 700;
  font-size: 2em;
}
.details__plus {
  padding: 10vh;
  gap: 3em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.details__plus_item {
  position: relative;
  padding-top: 7vw;
  padding-left: 8em;
  padding-right: 0.5vw;
  height: 30em;
  flex: 0 0 46%;
  display: flex;
  align-items: flex-start;
  background-image: url(../img/oval.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* .details__plus_item::after {
  content: '';
  background-color: rgba(228, 213, 213, 0.6);
  inset: 0;
  position: absolute;
} */
.details-text {
  position: relative;
  font-size: 2vw;
  font-weight: 700;
  color: #331A0B;
  z-index: 5;
}
.text_appearance{
  opacity: 0;
  transform: translateY(100%);
}
.text_appearance.element-show {
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateY(0%);
}
.hero {
  position: relative;
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-image: url(../img/background_hero.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  color: #eedbcc;
  z-index: 20;
}
.hero::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero__container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
  z-index: 5;
}
.title {
  padding-top: 8vh;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 8vh;
  position: relative;
  z-index: 5;
}
.img {
  opacity: 0;
  transform: translateX(100%);
}
.img.element-show {
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateX(0%);
}
.hero__container_text {
  flex: 0 0 70%;
}
.hero__container_img {
  flex: 0 1 30%;
}
.burger {
  width: 4vw;
  display: none;
}
.top__logo_tel.bottom-tel {
  display: none;
}
.header__list-menu {
  display: none;
}

@media (max-width: 1700px) {
  .details__plus_item {
    padding-top: 6em;
    padding-left: 8em;
    padding-right: 1.5rem;
  }
}

@media (max-width: 1520px) {
  .details__plus_item {
    padding-top: 5em;
    padding-left: 8em;
    padding-right: 1.5em;
    height: 20em;
    flex: 0 0 46%;
  }
}

@media (max-width: 1300px) {
  .text {
    font-size: 32px;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger:hover {
    box-shadow: 3px 2px 2px 1px #eedbcc;
    transform: scale(1.1);
  }
  .header__menu {
    display: none;
  }
  .header__list-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background-image: url(../img/back-menu.jpg);
    z-index: 130;
    width: 60%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }
  .header__list-menu.active {
    transform: translateX(0);
    opacity: 1;
  }
  .header__list-menu .header__item {
    padding: 10px 10px;
  }
  .header__nav_link {
    font-size: 4vw;
  }
  .cross {
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
  }
  .cross:hover {
    color: #b66735;
  }
  .details__text {
    padding-left: 8em;
  }
  .details__plus {
    justify-content: center;
  }
  .details__plus_item {
    padding-top: 5vw;
    padding-left: 8vw;
    padding-right: 1.5em;
    height: 15em;
    flex: 0 0 46%;
  }
}

@media (max-width: 1050px) {
  .top__logo_tel {
    flex-basis: 30%;
  }
  .top__logo__reserv {
    flex-basis: 10%;
  }
  .header__list-menu .header__item {
    padding: 5px 10px;
  }
  .hero__container {
    flex-direction: column-reverse;
  }
  .details__plus_item {
    padding-top: 4.3vw;
    padding-left: 8vw;
    padding-right: 0.5em;
    height: 15em;
  }
}

@media (max-width: 863px) {
  .details {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .details__plus_item {
    padding-top: 0;
    padding-left: 8vw;
    padding-right: 4em;
    height: 13em;
    flex: 0 0 70%;
    align-items: center;
  }
  .details__text {
    padding-left: 5em;
  }
}

@media (max-width: 700px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content {
    padding-top: 8vh;
  }
  .title {
    padding-top: 6vh;
    margin-bottom: 3vh;
  }
  .text {
    font-size: 28px;
  }
  .hero__container_img {
    max-width: 50%;
  }
  .top__logo img {
    max-height: 5vh;
  }
  .top__logo_tel {
    flex-basis: 36%;
    font-size: 20px;
  }
  .header__list-menu .header__item {
    padding: 10px;
  }
  .cross {
    font-size: 26px;
  }
  .details__text {
    padding-top: 3em;
  }
  .details__plus_item {
    padding-top: 12vw;

    height: 14em;
    flex: 0 0 100%;
    align-items: flex-start;
    padding-right: 3em;
    padding-left: 10vw;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text {
    font-size: 22px;
  }
  .top__logo {
    justify-content: space-between;
  }
  .top__logo_tel {
    display: none;
  }
  .burger {
    width: 6vw;
  }
  .head {
    padding: 10px 10px;
  }
  .top__logo_tel.bottom-tel {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .header__menu {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .details__plus_item {
    padding-top: 4vh;
    padding-right: 1em;
  }
}

@media (max-width: 400px) {
  .content {
    height: 65vh;
  }
  .content__button {
    max-width: 9em;
  }
  .content__button_text {
    top: 3.8em;
    font-size: 0.75em;
  }
  .details__container {
    padding-top: 1vh;
  }
  .details__text {
    padding-left: 1em;
    margin-bottom: 5em;
  }
  .details__plus_item {
    height: 5em;
    padding-top: 4vh;
    padding-right: 1em;
  }
}