.top__logo {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__logo img {
  max-height: 7vh;
}
.top__logo__reserv {
  flex: 0 0 20%;
}
.top__logo_tel {
  flex: 0 0 20%;
  font-size: 24px;
  color: #b66735;
}
.header {
  position: -webkit-fixed;
  position: fixed;
  /* width: 100%; */
  top: 0;
  right: 0;
  left: 0;
  color: #e2c2a9;
  z-index: 10;
}
.header__menu {
  background-image: url(../img/background_header.jpg); 
  background-repeat: repeat-x;
  background-size: contain;
  transition: 1s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 1s;
  z-index: 9;
}
.header__top {
  /* width: 100%; */
  position: relative;
  background-image: url(../img/back__top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 11;
}
.header__top::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.head {
  padding: 20px 10px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__item {
  flex: 1 1 20%;
}
.header__item:not(:last-child) {
  margin-right: 45px;
}
.header__nav_link {
  font-size: 20px;
  color: #e2c2a9;
  font-weight: bold;
}
.header__btn-open {
  display: none;
}
.header_hidden {
  transform: translateY(-100%);
}
.main {
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 50px;
  background-image: url(../img/spil_light.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;

}
.main::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content {
  padding-top: 20vh;
 
  color: #e2c2a9;
  position: relative;
  z-index: 2;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8vh;
}
.text {
  font-size: 32px;
  line-height: 1.5;
  opacity: 0;
  transform: translateY(100%);
  margin-bottom: 20px;
}
.text.element-show {
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateY(0%);
}
.hero {
  position: relative;
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-image: url(../img/background_hero.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  color: #eedbcc;
}
.hero::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero__container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
  z-index: 5;
}
.title {
  padding-top: 8vh;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 8vh;
  position: relative;
  z-index: 5;
}
.img {
  opacity: 0;
  transform: translateY(100%);
}
.img.element-show {
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateY(0%);
}
.hero__container_text {
  flex: 0 0 65%;
}
.burger {
  width: 4vw;
  display: none;
}
.top__logo_tel.bottom-tel {
  display: none;
}
.header__list-menu {
  display: none;
}

@media (max-width: 1300px) {
  .burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__list-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background-image: url(../img/back-menu.jpg);
    z-index: 130;
    width: 60%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }
  .header__list-menu.active {
    transform: translateX(0);
    opacity: 1;
  }
  .header__list-menu .header__item {
    padding: 10px 10px;
  }
  .header__nav_link {
    font-size: 4vw;
  }
  .cross {
    font-weight: 700;
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .top__logo_tel {
    flex-basis: 30%;
  }
  .top__logo__reserv {
    flex-basis: 10%;
  }
  .header__list-menu .header__item {
    padding: 5px 10px;
  }
}

@media (max-width: 700px) {
  .top__logo img {
    max-height: 5vh;
  }
  .top__logo_tel {
    flex-basis: 36%;
    font-size: 20px;
  }
  .header__list-menu .header__item {
    padding: 10px;
  }
  .cross {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .top__logo {
    justify-content: space-between;
  }
  .top__logo_tel {
    display: none;
  }
  .burger {
    width: 6vw;
  }
  .head {
    padding: 10px 10px;
  }
  .top__logo_tel.bottom-tel {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .header__menu {
    display: block;
  }
  .header__nav {
    display: none;
  }
}